*{
    margin:13px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.bg_container{
    background-image: url("/images/background.svg");
    position: absolute;
    width: 100%;
    height: 3100px;
    left: -10px;
    top: 0px;
}
.first .navbar{
    width:100%;
    padding:10px 10%;
    display:flex;
    justify-content:left;
    align-items: center;
    gap:15px;
    
}
.first .navbar a{
    padding: 15px 25px;
    color:#FFFFFF;
    width: 110px;
    height: 43px;
    left: 94px;
    top: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: underline;
}

.first .text_box1{
    float: left; 
    margin:50px;
}
.first .text_box1 .title{
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: 10px;
    font-size: 55px;
    line-height: 170px;
    color:#FFFFFF;
    font-family: 'Grand Hotel', cursive;
    display: flex;
    flex-direction: column;
    position: relative;
    display: block;
    float: left;
}
.first .text_box1 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.first .girl{
    float: left;
    width: 600px;
}
.first #girl{
    position: absolute;
    width: 670px;
    left: 800px;
    right: -0.14%;
    top: 40px;
}
.second .star{
    position: absolute;
    width: 1364px;
    height: 930px;
    left: 90px;
    top: 759px;

}
.second .starr1{
    position: absolute;
    width: 1364px;
    height: 930px;
    left: 900px;
    top: 1200px;
    animation: mymove1 2s infinite;
}
@keyframes mymove1 {
    from {top: 1000px;}
    to {top: 1400px;}
  }
  .second .starr2{
    position: absolute;
    width: 1364px;
    height: 930px;
    left: 500px;
    top: 1000px;
    animation: mymove2 2s infinite;
}
@keyframes mymove2 {
    from {top: 900px;}
    to {top: 1100px;}
  }
  .second .starr3{
    position: absolute;
    width: 1364px;
    height: 930px;
    left: 300px;
    top: 1200px;
    animation: mymove3 4s infinite;
}
@keyframes mymove3 {
    from {top: 800px;}
    to {top: 1500px;}
  }
.second .starr4{
    position: absolute;
    width: 1364px;
    height: 930px;
    left: 100px;
    top: 1200px;
    animation: mymove4 2s infinite;
}
@keyframes mymove4 {
    from {top: 1000px;}
    to {top: 1600px;}
  }
  .second .starr5{
    position: absolute;
    width: 1364px;
    height: 930px;
    left: 1300px;
    top: 1200px;
    animation: mymove5 3s infinite;
}
@keyframes mymove5 {
    from {top: 1400px;}
    to {top: 1500px;}
  }

.second .about{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 101px;
    top: 955px;
    color: #FFFFFF;
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 183px;
}
.about:hover{
    color: crimson;
    text-decoration:underline;
}

.second .globe1{
    position: absolute;
    width: 531.77px;
    height: 511px;
    left: 900.62px;
    top: 887px;
}
.second .info2{
    position: absolute;
    width: 609px;
    height: 200px;
    left: 870px;
    top: 1405px;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    text-align: right;
    color: #FFFFFF;
    font-family: 'Montserrat';
}
.third .globe2{
    position: absolute;
    width: 1273.02px;
    height: 491px;
    left: 59.98px;
    top: 1831px;
}
.third .help{
    position: absolute;
    width: 234px;
    height: 204px;
    left: 1140px;
    top: 1831px;
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 204px;
    color: #FFFFFF;
}
.help:hover{
    color:rgb(121, 180, 61);
    text-decoration: underline;
}
.third .info3{
    position: absolute;
    width: 744px;
    height: 185px;
    left: 700px;
    top: 2056px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
    color: #FFFFFF;
}
.third .footer{
    position: absolute;
    width: 1252px;
    height: 651px;
    left: 74px;
    top: 2455px;
}